<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
 
 <listeners>
 
 <listener class-name="listeners.Listeners"/>
 
 
 
 </listeners>
  
  <test thread-count="5" name="TestTwo">
      <classes>
      <class name="test.AddUserTest"/>
     
     
      </classes>
 
     
  </test> <!-- Test -->
  
   <test thread-count="5" name="LoginTest">
      <classes>
      <class name="test.LoginTest"/>
     
     
      </classes>
       </test> <!-- Test -->
</suite> <!-- Suite -->